#Скопировать в .env
# Postgre — Auth
POSTGRES_PORT_AUTH=5432
POSTGRES_USER_AUTH=auth_user
POSTGRES_PASSWORD_AUTH=change_me_auth
POSTGRES_DB_AUTH=auth_db

# Postgre — Media
POSTGRES_PORT_MEDIA=5433
POSTGRES_USER_MEDIA=media_user
POSTGRES_PASSWORD_MEDIA=change_me_media
POSTGRES_DB_MEDIA=media_db

# Postgre — Feed
POSTGRES_PORT_FEED=5434
POSTGRES_USER_FEED=feed_user
POSTGRES_PASSWORD_FEED=change_me_feed
POSTGRES_DB_FEED=feed_db

# Postgre — Profile
POSTGRES_PORT_PROFILE=5435
POSTGRES_USER_PROFILE=profile_user
POSTGRES_PASSWORD_PROFILE=change_me_profile
POSTGRES_DB_PROFILE=profile_db

# Postgre — Project
POSTGRES_PORT_PROJECT=5436
POSTGRES_USER_PROJECT=project_user
POSTGRES_PASSWORD_PROJECT=change_me_project
POSTGRES_DB_PROJECT=project_db

# Postgre — Response
POSTGRES_PORT_RESPONSE=5437
POSTGRES_USER_RESPONSE=response_user
POSTGRES_PASSWORD_RESPONSE=change_me_response
POSTGRES_DB_RESPONSE=response_db

# Redis
REDIS_PORT=6379

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MEDIA_S3_BUCKET=media

# Services versioning
VERSION=latest

# Postgre — Keycloak
POSTGRES_USER_KEYCLOAK=keycloak
POSTGRES_PASSWORD_KEYCLOAK=change_me_keycloak
POSTGRES_DB_KEYCLOAK=keycloak

# Keycloak
KEYCLOAK_ADMIN=keycloak_admin
KEYCLOAK_ADMIN_PASSWORD=change_me_password_admin
KEYCLOAK_REALM=myrealm
KEYCLOAK_CLIENT_ID=auth-service
KEYCLOAK_CLIENT_SECRET=change_it_secret_key
KEYCLOAK_EXPORT_VOLUME=
